<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="O_Decide.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="O_Decide.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <O_Decide.Properties.Settings>
            <setting name="Settings_Editable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Odds" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Minute" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Hour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Day" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Week" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="nextCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="canRetry" serializeAs="String">
                <value>True</value>
            </setting>
        </O_Decide.Properties.Settings>
        <O_Decide.Settings1>
            <setting name="Settings_Editable" serializeAs="String">
                <value>True</value>
            </setting>
        </O_Decide.Settings1>
    </userSettings>
</configuration>